In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv('/content/Adult Income Dataset.csv')

# Display first few rows
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

print("Categorical Features:\n", categorical_features)
print("\nNumerical Features:\n", numerical_features)

Categorical Features:
 ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country', 'income']

Numerical Features:
 ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

# Apply Label Encoding on ordered categorical feature
df['education_encoded'] = label_encoder.fit_transform(df['education'])

df[['education', 'education_encoded']].head()

      education  education_encoded
0       HS-grad                 11
1       HS-grad                 11
2  Some-college                 15
3       7th-8th                  5
4  Some-college                 15

In [5]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

# Apply Label Encoding on ordered categorical feature
df['education_encoded'] = label_encoder.fit_transform(df['education'])

df[['education', 'education_encoded']].head()

      education  education_encoded
0       HS-grad                 11
1       HS-grad                 11
2  Some-college                 15
3       7th-8th                  5
4  Some-college                 15

In [7]:
one_hot_features = ['workclass', 'marital.status', 'occupation',
                    'relationship', 'race', 'sex', 'native.country']

# Apply One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=one_hot_features, drop_first=True)

df_encoded.head()

,age,fnlwgt,education,education.num,capital.gain,capital.loss,hours.per.week,income,education_encoded,workclass_Federal-gov,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,90,77053,HS-grad,9,0,4356,40,<=50K,11,False,...,False,False,False,False,False,False,False,True,False,False
1,82,132870,HS-grad,9,0,4356,18,<=50K,11,False,...,False,False,False,False,False,False,False,True,False,False
2,66,186061,Some-college,10,0,4356,40,<=50K,15,False,...,False,False,False,False,False,False,False,True,False,False
3,54,140359,7th-8th,4,0,3900,40,<=50K,5,False,...,False,False,False,False,False,False,False,True,False,False
4,41,264663,Some-college,10,0,3900,40,<=50K,15,False,...,False,False,False,False,False,False,False,True,False,False

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Scale numerical features
df_encoded[numerical_features] = scaler.fit_transform(df_encoded[numerical_features])

df_encoded[numerical_features].head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
0,3.769612,-1.067997,-0.420060,-0.14592,10.593507,-0.035429
1,3.183112,-0.539169,-0.420060,-0.14592,10.593507,-1.817204
2,2.010110,-0.035220,-0.031360,-0.14592,10.593507,-0.035429
3,1.130359,-0.468215,-2.363558,-0.14592,9.461864,-0.035429
4,0.177296,0.709482,-0.031360,-0.14592,9.461864,-0.035429

In [9]:
print("Before Scaling:")
print(df[numerical_features].describe())

print("\nAfter Scaling:")
print(df_encoded[numerical_features].describe())

Before Scaling:
                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

After Scaling:
                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  3.256100e+04  3.256100e+04   3.256100e+04  3.256100e+04  3.256100e+04
mean  -3.666078e-17 -1.008172e-16   1.466431e-16  4.189804e-17 -3.491503e-17
std    1.000015e+00  1.000015e+00   1.000015e+00  1.000015e+00  1.000015e+00
min   -1.582206e+00 -1.681631e+00  -3.529656e+00 -1.459205e-01 -2.166595e-01
25%   -7.757679e-01 -6.816910e-01  -4.200596e-01 -1.459205e-01 -2.166595e-01
50%   -1.159546e-01 -1.082193e-01  -3.136003e-02 -1.459205e-01 -2.166595e-01
75%    6.904838e-01  4.478765e-01   7.460392e-01 -1.459205e-01 -2.166595e-01
max    3.769612e+00  1.226856e+01   2.300838e+00  1.339458e+01  1.059351e+01

       hours.per.week
count    3.256100e+04
mean    -2.793203e-17
std      1.000015e+00
min     -3.194030e+00
25%     -3.542945e-02
50%     -3.542945e-02
75%      3.695194e-01
max      4.742967e+00

In [10]:
processed_file_path = '/content/Adult Income Dataset.csv'
df_encoded.to_csv(processed_file_path, index=False)

print("Processed dataset saved at:", processed_file_path)

Processed dataset saved at: /content/Adult Income Dataset.csv